/* 
Theme Name: CJ Fiore Blog
Theme URI: http://www.cjfiore.com/blog/ 
Description: A custom theme for CJ Fiore
Author: Matt Courtright
Author URI: http://www.mattcourtright.com 
Version: 1.1 
. 
Licensed to CJ Fiore
. 
*/  

.catalogLHMenu {
	width: 250px;
}



p a {
	color: #4e4244;
	text-decoration: underline;
}
p a:hover {
	color: #4e4244;
	text-decoration: none;
}


#sidebar ul {
	margin-left: 0px;
	padding-left: 0px;
}
#sidebar li {
	list-style-type: none;
	margin-left: 0px;
	padding-left: 0px;
}
#sidebar h2{
	font-size: 16px;
}

#sidebar a, #sidebar td a {
	text-decoration: none;
}

.widget_calendar{
	width: 180px;
	margin: 0px auto;
}

h3 {
	font: 22px fiore-light, sans-serif;
	font-weight: lighter;
	color: #da771b;
	line-height: 1;
	margin: 10px 0px 0px 0px;
	padding: 10px 0px 0px 0px;
	
	border-top: solid #cccccc 1px;
}
h3 a {
	color: #da771b;
	text-decoration: none;
}
h3 a:hover {
	color: #da771b;
	text-decoration: underline;
}



img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img {
	max-width: 100%; /* When images are too wide for containing element, force them to fit. */
	height: auto; /* Override height to match resized width for correct aspect ratio. */
}
.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}
.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 12px;
}
