h1 {
	line-height: 1.3;
}
#contentTable td {
	font: 12px fiore-light, Helvetica-Light, sans-serif;
	line-height: 1.5;
}


.catalogLHMenu {
	font: 12px Arial, sans-serif;
	font-weight: bold;
	color: #da771b;
	width: 100px;
	
	line-height: 1.4;
}
.catalogLHMenu a {
	display: block;
	color: #4e4244;
	text-decoration: none;
	border-bottom: solid #d2ced0 1px;
	padding: 6px 0px;
}
.catalogLHMenu a:hover {
	color: #da771b;
}

.catalogLHSubMenu {
	font: 12px fiore-light, sans-serif;
	color: #da771b;
	padding: 0px;
	border-bottom: solid #d2ced0 1px;

	line-height: 1.4;
}
.catalogLHSubMenu a {
	display: block;
	color: #4e4244;
	text-decoration: none;
	border-bottom: none;
	padding: 4px 0px;
}
.catalogLHSubMenu a:hover {
	color: #da771b;
}


.breadCrumbs {
	border-bottom: solid #d2ced0 1px;
	margin-bottom: 20px;
	padding-bottom: 10px;
	font: 12px fiore-light, sans-serif;
	color: #4e4244;
}
.breadCrumbs a {
	color: #4e4244;
	text-decoration: none;
}
.breadCrumbs a:hover {
	color: #4e4244;
	text-decoration: underline;
}
.commonBotanicalRadios {
	float: right;
}
.commonBotanicalRadios img {
	vertical-align: top;
}

.productPlantBlock {
	display: block;
	font: 14px fiore-light, sans-serif;
	color: #ffffff;
	line-height: 1.5;
	float: left;
	margin: 0px 5px 0px 0px;
	position: relative;
}
.productPlantBlock a {
	text-decoration: none;
	color: #ffffff;
	line-height: 2;
}
.productPlantBlock a:hover {
	color: #cccccc;
}
.productPlantBlock div {
	position: absolute;
	bottom: 0px;
	left: 0px;
	float: left;
	background: #4e4245;
	padding: 4px 10px 0px 10px;
	letter-spacing: 1px;
}


a.plantIndex {
	display: block;
	font: 12px Arial, sans-serif;
	color: #4e4244;
	text-decoration: none;
	border-bottom: solid #d2ced0 1px;
	padding: 6px;
	margin: 6px;
}
a.plantIndex:hover {
	color: #da771b;
}

.catalogPricingTable {
	margin-left: 20px;
}
.catalogPricingTable td {
	border-bottom: solid #d2ced0 1px;
	padding: 10px 0px 4px 0px;
}
.catalogPricingTable td input {
	font-size: 12px;
	position: relative;
	top: -4px;
	text-align: center;
}


.catalogFloatImage {
	float: left;
	margin: 0px 15px 15px 0px;
	width: 153px;
	height: 173px;
	overflow: hidden;
	
	box-shadow: 2px 2px 4px #878787;
	behavior:url(images/pie/PIE.php);
}
.catalogFloatImage .img {
	position: relative;
}


.addToCartItem {
	float: right;
	position: relative;
	left: 6px;
}


.greenTable {
	width: 375px;
	height: 170px;
	padding: 15px;
	background: #6a9d61;
	font: 12px fiore-light, sans-serif;
	color: #ffffff;
	
	float: left;
	margin-right: 10px;
}
.greenTable b {
	font-family: fiore-bold, sans-serif;
	font-weight: bold;
}
.greenTable td {
	border-bottom: solid #ffffff 1px;
	padding: 2px 0px 0px 0px;
}
