@font-face {
    font-family: 'fiore-light';
    src: url('../fonts/fiore-light-webfont.eot');
    src: url('../fonts/fiore-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fiore-light-webfont.woff') format('woff'),
         url('../fonts/fiore-light-webfont.ttf') format('truetype'),
         url('../fonts/fiore-light-webfont.svg#fiorelight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'fiore-ultralight';
    src: url('../fonts/fiore-ultralight-webfont.eot');
    src: url('../fonts/fiore-ultralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fiore-ultralight-webfont.woff') format('woff'),
         url('../fonts/fiore-ultralight-webfont.ttf') format('truetype'),
         url('../fonts/fiore-ultralight-webfont.svg#fiore_ultralightultralight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'fiore-book';
    src: url('../fonts/fiore-book-webfont.eot');
    src: url('../fonts/fiore-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fiore-book-webfont.woff') format('woff'),
         url('../fonts/fiore-book-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'fiore-bold';
    src: url('../fonts/fiore-bold-webfont.eot');
    src: url('../fonts/fiore-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fiore-bold-webfont.woff') format('woff'),
         url('../fonts/fiore-bold-webfont.ttf') format('truetype'),
         url('../fonts/fiore-bold-webfont.svg#fiore_boldregular') format('svg');
    font-weight: bold;
    font-style: bold;

}

body {
	width: 100%;
	height: 100%;

	margin: 0px;
	padding: 0px;
	line-height: 1.3;
	color: #4e4244;
}

a, a:hover, a:visited, a:active, area {
   border:none;
   outline:none;
}

i {
	font-family: Arial, sans-serif;
}
b {
	font-family: fiore-bold, Helvetica, Arial, sans-serif;
	*font-family: fiore-light, Helvetica, Arial, sans-serif;
	font-weight: bold;
}


.firstLevel {
	font: 16px fiore-light, Helvetica-Light, sans-serif;
	line-height: 1.8;
	margin: 0px 0px 10px 0px;
}
h1 {
	display: inline;
	font: 22px fiore-light, sans-serif;
	font-weight: lighter;
	color: #da771b;
	line-height: 1;
	margin: 0px;
	padding: 0px;
}
h2 {
	font: 28px Arial, sans-serif;
	font-weight: bold;
	color: #da771b;
	
	margin: 20px 0px 0px 0px;
	padding: 0px;
}
h3 {
	font: 16px Arial, sans-serif;
	font-weight: bold;
	color: #da771b;
	
	margin: 0px;
	padding: 0px;
}
h4 {
	display: inline;
	font: 18px fiore-light, sans-serif;
	font-weight: normal;
	color: #da771b;
	line-height: 1.8;
}

#contentTable td {
	font: 16px fiore-light, Helvetica-Light, sans-serif;
	line-height: 1.5;
}

.shadowed {
	box-shadow: 1px 1px 4px #000000;
	behavior:url(images/pie/PIE.php);
}

.rounded {
	display: inline;
	padding: 6px 10px;

	line-height: 1;
	text-align: left;
	text-decoration: none;
	
	box-shadow: 1px 1px 4px #444444;
	border-radius: 4px 4px 4px 4px;
	behavior:url(images/pie/PIE.php);
	position: relative;
	top: 0px;
}
.rounded a {
	text-decoration: none;
	color: #4e4244;
}
.rounded10 {
	display: inline;
	padding: 6px 10px;

	line-height: 1;
	text-align: left;
	text-decoration: none;
	
	box-shadow: 1px 1px 4px #444444;
	border-radius: 10px 10px 10px 10px;
	behavior:url(images/pie/PIE.php);
	position: relative;
	top: 0px;
}

.roundLeft4 {
	border-radius: 4px 0px 0px 4px;
	behavior:url(images/pie/PIE.php);
}
.roundRight4 {
	border-radius: 0px 4px 4px 0px;
	behavior:url(images/pie/PIE.php);
	border-right: none;
}
.roundLeft10 {
	border-radius: 10px 0px 0px 10px;
	behavior:url(images/pie/PIE.php);
}
.roundRight10 {
	border-radius: 0px 10px 10px 0px;
	behavior:url(images/pie/PIE.php);
	border-right: none;
}
.roundTopLeft10 {
	border-radius: 10px 0px 0px 0px;
	behavior:url(images/pie/PIE.php);
}
.roundTopRight10 {
	border-radius: 0px 10px 0px 0px;
	behavior:url(images/pie/PIE.php);
}
.smallerText {
	font: 10px Arial, sans-serif;
	font-weight: bold;
}
.nowrap {
	white-space: nowrap;
}
.whiteBG {
	background: #ffffff;
	color: #4e4244;
}
.darkBG {
	background-color: #654b56;
	color: #ffffff;
}
.blueArrow {
	background-image: url('images/darkRoundedArrow3.gif');
	background-position: center right;
	background-repeat: no-repeat;
}

#menuTable {
	margin: 0px 0px 0px 15px;
	padding: 0px;

	box-shadow: 1px 1px 4px #000000;
	border-radius: 4px 4px 4px 4px;
	behavior:url(images/pie/PIE.php);
	
	background: #ffffff;
	overflow: hidden;
}
#menuTable td {
	padding: 6px 12px;
	white-space: nowrap;
	
	background: #ffffff;
	border-right: solid #d2ced0 1px;
	
	font: 10px Arial, sans-serif;
	font-weight: bold;
	line-height: 1;
	text-align: left;
	text-decoration: none;
	color: #4e4244;
}
#menuTable td:hover {
	background: #f6f2df;
}
#menuTable a {
	color: #4e4244;
	text-decoration: none;
}
#menuTable a:hover {
	color: #da771b;
}

.submenu {
	display: none;
	position: absolute;
	top: 0px;
	left: -900px;
	z-index: 40;
	
	margin: 0px;
	padding: 0px 0px 10px 0px;
	
	box-shadow: 1px 1px 4px #000000;
	border-radius: 0px 7px 7px 7px;
	behavior:url(images/pie/PIE.php);

	font: 11px Arial, sans-serif;
	line-height: 1.2;
	background: #f6f2df;
	white-space: nowrap;
	text-align: left;
}
.submenu a {
	display: block;
	margin: 10px 25px 0px 12px;
	
	color: #4e4244;
	text-decoration: none;
}
.submenu a:hover {
	color: #da771b;
}
.submenuSpacer {
	height: 8px;
	background: #f6f2df;
	position: relative;
	top: -4px;
}

#contentTable td .history td {
	font: 11px fiore-light, Helvetica-Light, sans-serif;
	line-height: 1.2;
	border: solid #a39e9f 1px; 
	border-right: none;
	border-left: none;
}



#htmlBody {
	width: 100%;
}
#topBG {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 5;
	background-color: #ddd278; 
	background-image: url('images/topBG.gif');
	background-repeat: repeat;
	width: 100%;
	height: 180px;
}


#indexBG {
	position: absolute;
	top: 120px;
	left: 0px;
	z-index: 10;

	width: 100%;
	height: 500px;
	overflow: hidden;
	
}
#indexBG div {
	width: 100%;
	height: 100%;
	
	position: absolute;
	top: 0px;
	left: -100%;
	
	background-size: cover;
	behavior:url(images/pie/PIE.php);
	-pie-background-size: cover;
	background-position: bottom center;
	background-repeat: no-repeat;
	
	transition: left ease-in-out 1s;
	-webkit-transition: left ease-in-out 1s;
	-moz-transition: left ease-in-out 1s;
	-o-transition: left ease-in-out 1s;
}


#topMenuHolder {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 15;
	width: 100%;
}
#topMenu {
	width: 970px;
	height: 170px;
	margin: 0px auto;
	background: URL('images/menuBG.gif') repeat;
	
	box-shadow: 0px 0px 10px #000000;
	border-radius: 0px 0px 15px 15px;
	behavior:url(images/pie/PIE.php);
	
	position: relative;
	top: 0px;
	left: 0px;
}

#contentBackground {
	width: 100%;
	height: 100%;
	margin: 0px auto;

	position: absolute;
	top: 175px;
	z-index: 20;
	
	background-position: top center;
}
#contentHolder {
	position: absolute;
	top: 200px;
	left: 0px;
	z-index: 25;
	
	width: 100%;
}
#content {
	width: 970px;
	min-height: 600px;
	margin: 0px auto;
	padding: 0px;
}

.leaf {
	position: relative;
	z-index: 30;
}

#footerTable {
	position: relative; 
	top: 0px;
	z-index: 35;
	margin: 0px auto; 
	border-top: solid #878787 1px;
}
#footerTable td {
	font: 11px Helvetica, Arial, sans-serif;
	text-transform: uppercase;
}
#footerTable td a {
	color: #4e4244;
	text-decoration: none;
}
#footerTable td a:hover {
	color: #4e4244;
	text-decoration: underline;
}

.footerIndex {
	width: 970px; 
	margin: 0px auto; 
	color: #ffffff; 
	font: 9px Helvetica, Arial, sans-serif; 
	font-weight: bold;
	text-transform: uppercase; 
	line-height: 1;
}
.footerIndex a {
	color: #ffffff;
	text-decoration: none;
}
.footerIndex a:hover {
	color: #ffffff;
	text-decoration: underline;
}

.leafItOnTop {
	width: 1px;
	height: 1px;
	overflow: visible;

	position: relative;
	z-index: 30;
}



#newsHolder {
	width: 950px;
	display: block;
	background: #f4efd6;
	margin: 0px auto;
	
	padding: 6px 10px;

	line-height: 1;
	text-align: left;
	text-decoration: none;
	
	box-shadow: 1px 0px 10px #000000;
	border-radius: 10px 10px 0px 0px;
	behavior:url(images/pie/PIE.php);
	position: relative;
	top: 0px;
}
.newsItem {
	font: 12px Arial, sans-serif;
	color: #4e4244;
	line-height: 1.5;

	margin: 15px 25px 40px 15px;
	padding: 0px 0px 6px 0px;
	
	clear: both;
	min-height: 110px;
}



.indexBox {
	white-space: nowrap; 
	float: left; 
	padding: 20px; 
	background: URL('images/indexBoxBG.png') repeat; 
	font: 24px fiore, sans-serif; 
	color: #ffffff; 
	margin: 0px 210px 0px 0px;
	
	box-shadow: 1px 1px 4px #000000;
	border-radius: 10px 10px 10px 10px;
	behavior:url(images/pie/PIE.php);
	
	position: relative;
	top: 25px;
}



.servicesOverviewBlock {
	font: 14px fiore-light, sans-serif;
	background: #4e4245;
	color: #ffffff;
	line-height: 1.5;
}
.servicesOverviewBlock a {
	text-decoration: none;
	color: #ffffff;
	line-height: 2;
}
.servicesOverviewBlock a:hover {
	color: #cccccc;
}
.servicesOverviewBlock img {
	margin-bottom: 6px;
}

.greyBlock {
	font: 13px fiore-light, sans-serif;
	background: #d3cecf;
	color: #4e4244;

	box-shadow: 1px 1px 4px #000000;
	border-radius: 10px 10px 10px 10px;
	behavior:url(images/pie/PIE.php);

	padding: 10px 20px;
}
.greyBlock a {
	text-decoration: none;
	color: #4e4244;
	font-family: fiore-bold;
}
.greyBlock a:hover {
	text-decoration: underline;
	color: #4e4244;
}

.darkGreyBlock {
	font: 16px fiore-light, sans-serif;
	background: #4e4245;
	color: #ffffff;

	box-shadow: 1px 1px 4px #000000;
	border-radius: 10px 10px 10px 10px;
	behavior:url(images/pie/PIE.php);

	padding: 20px 20px;
}
.darkGreyBlock a {
	text-decoration: none;
	color: #ffffff;
	font-family: fiore-bold;
}
.darkGreyBlock a:hover {
	text-decoration: underline;
	color: #ffffff;
}


.beigeBlock {
	font: 13px fiore-light, sans-serif;
	background: #f4efd6;
	color: #4e4244;

	box-shadow: 1px 1px 4px #000000;
	border-radius: 10px 10px 10px 10px;
	behavior:url(images/pie/PIE.php);

	padding: 20px;
}
.beigeBlock a {
	text-decoration: none;
	color: #00adef;
}
.beigeBlock a:hover {
	text-decoration: underline;
	color: #00adef;
}

.contactInput {
	width: 240px; 
	font: 16px fiore-light, sans-serif; 
	border: solid #4e4244 1px;
	margin: 5px 10px;
}

.bigContentMenu {
	border-radius: 10px 10px 10px 10px;
	box-shadow: 1px 1px 4px #000000;
	behavior:url(images/pie/PIE.php);
	
	background: #4e4245;
	color: #ffffff;
	position: relative;
	z-index: 35;
}
.bigContentMenu a {
	display: block;
	border-top: solid #ffffff 1px;
	color: #ffffff;
	text-decoration: none;
	
	padding: 16px 10px 8px 20px;
}
.bigContentMenu a:hover {
	color: #ffffff;
	text-decoration: underline;

}

ul {
	padding-left: 20px;
	margin: 4px 0px;
}

.brownLinks a {
	color: #4e4244;
	text-decoration: none;
}
.brownLinks a:hover {
	color: #4e4244;
	text-decoration: underline;
}

.blueLinks a, #newsTable td .blueLinks a {
	color: #009dd0;
	text-decoration: none;
}
.blueLinks a:hover, #newsTable td .blueLinks a:hover {
	color: #009dd0;
	text-decoration: underline;
}

.orangey {
	color: #da771b;
}

/* delivery rates table */
#dlverytxt td, #dlverytxt2 td {
	font-size: 12px;
}
.headtown b, .headcosts b {
	font: 12px fiore-bold, Helvetica-Light, sans-serif;
	font-weight: normal;
}
.pdname {
	font: 12px fiore-light, Helvetica-Light, sans-serif;
}

#staffTable td {
	font: 12px fiore-light, Helvetica-Light, sans-serif;
	line-height: 1.3;
}
#staffTable td a {
	color: #da771b;
	text-decoration: none;
}
#staffTable td a:hover {
	color: #da771b;
	text-decoration: underline;
}


#emailSignup {
	display: inline;
	padding: 10px 8px 8px 8px;

	line-height: 1;
	text-align: left;
	text-decoration: none;
	background-image: URL('images/bgWhiteTransparent.png');
	border-radius: 4px 4px 4px 4px;
	behavior:url(images/pie/PIE.php);
	position: relative;
	top: 0px;
}

#searchform {
	margin: 0px; 
	padding: 0px;
}




.checkoutInput {
	font: 14px fiore-light, sans-serif;
	line-height: 1;
	color: #4e4244;
	padding: 4px 0px 0px 10px;
	width: 100%;
	min-width: 250px;
	
	border: solid #d9d7d7 1px;
	border-radius: 4px 4px 4px 4px;
	behavior:url(images/pie/PIE.php);
}
